<h2>Looks like you don't have any housemates :(</h2>
<br>

<p>Share your House name and password with your </p>
<p>housemates and invite them to join.</p>

<h4>Your House name:</h4><h3> <%= @home.name %> </h3>
<br>
