<form>
<%= form_for @message do |f|%>
    <div class="form-inline">
    <%= f.label :post, "New message to house: ", :class => 'sr-only' %>
    <%= f.text_field :post, :placeholder => "Post message to house", :class => "form-control" %> 
  <%= f.submit "Post", :class => 'btn btn-default btn-xs' %>
<% end %>
</form>