<div class="row">
<div class="col-md-4 col-md-offset-4"> 
<h2>About sharehome</h2>
<p>Thanks for trying sharehome!</p>
<p>This app is intended to be used by share-houses where housemate turnover is frequent, but it provides useful management tools and a sense of community for any household.</p>

<p>Sharehome was built in one week using Ruby on Rails and Bootstrap and is my first Rails apps.</p>

</div>
</div>