<div class="row center">
<div class="col-md-4 col-md-offset-4"> 
<h2>Contact</h2>

<p><%= link_to "Github", "https://github.com/Alxswan" %></p>

<p><%= link_to "Twitter", "https://twitter.com/alxswan" %></p>

</div>
</div>