<div class="center">

<div class="shrink">
<h1>sharehome</h1>

<div class="description">
<br>
<h4>Shared living, made easy. </h4>
<br>
<p>Split bills, send messages, find out who's home.</p>
<br>
<p></p>

</div>

<% unless @current_user %>
<%= link_to "Create Account", '/users/new', class: "btn btn-lg btn-primary" %>
<% end %>

</div>

</div>