<h2>Join a Home</h2>

<% if  !@homes_results.empty? %>
 	<ul>
    	<% @homes_results.each do |home| %>
       
            <li>
                <%= link_to home.name, edit_home_path(home) %>
            </li>
        
    	<% end %>
	</ul>

<% elsif @homes_results.empty?%>

		<h3>No homes found</h3>

		<%= link_to 'Back to search', new_path %>

<% end %>

<% if @current_user.is_admin %>

<h3>Admin view</h3>

<ul>
	<% @homes.each do |home| %>
		<li> <%= link_to "#{home.name}", edit_home_path(home) %>
		<% if @current_user.room %>
			<% if @current_user.room.home == home %>
				(Home) <%= link_to 'Move Out', @current_user.room %>
			<% end %>
		<% end %>
		 </li>

	<% end %>
</ul>

<% end %>
