<h3>Choose Your Room!</h3>

<% n = 1 %>
<% @rooms.sort.each do |room| %>
	
	<% if room.occupant %>
	<% owner = room.occupant %>
	<% else %>
	<% owner = "Free" %>
	<% end %>
	
	<%= button_to "Room #{n}: #{owner}", room, :method => 'patch', :class => "btn btn-default" %>

	<% n += 1 %>

<% end %>